@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-open: var(--font-geist-open);
  --font-poppins: var(--font-geist-poppins);  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
   font-family: "Open Sans", sans-serif;
}

.inter  {
  font-family:"inter", sans-serif

}

.poppins {
  font-family: "poppins", sans-serif;
}

.open {
  font-family: "open", sans-serif;
}
.open_sans {
  font-family: "open_sans", sans-serif;
}
